<section>
    <div class="tips">温馨提示：为确保快速与您联系，请您填写真实的姓名和联系方式。以下信息我们均保密</div>
    <small class="tips2">"*"为必填项</small>
    <div class="enroll">
        <form action="enroll" class="form" method="post" onsubmit="return false">
            <div class="form-group">
                <span>姓&nbsp;&nbsp;名</span><em>*</em>
                <input type="text" class="form-control" id="uname" name="uname"/>
            </div>
            <div class="form-group">
                <span>电&nbsp;&nbsp;话</span><em>*</em>
                <input type="text" class="form-control" id="tel" name="tel"/>
            </div>
            <div class="form-group">
                <span>邮&nbsp;&nbsp;箱</span>
                <input type="text" class="form-control" id="email" name="email"/>
            </div>
            <div class="form-group">
                <span>地&nbsp;&nbsp;址</span>
                <input type="text" class="form-control" id="address" name="address"/>
            </div>
            <div class="form-group">
                <span>备&nbsp;&nbsp;注</span>
                <textarea name="text" id="text"></textarea>
            </div>
            <div class="tac">
                <input type="submit" class="submit" value="提交"/>
                <input type="reset" class="reset" value="重置"/>
            </div>
        </form>
    </div>
</section>