@import "extend";

html, body, form, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, em, address, a, input, textarea, span, strong, img {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 12px;
  color: #666;
  @extend %ffyh;
}

ul, dl {
  list-style: none;
}

input, textarea, select, button {
  font-size: 12px;
  outline: none;
}

img {
  border: none;
}

a {
  color: #666;
  text-decoration: none;
  outline: none;
   -webkit-transition: color 0.8s ease;
  -moz-transition: color 0.8s ease;
  -o-transition: color 0.8s ease;
  transition: color 0.8s ease;
}

a:hover {
  color: $color;
}

i, em {
  font-style: normal;
}

table {
  border-collapse: collapse;
  margin: 0px;
}

thead, tbody, tfoot, tr, td {
  margin: 0px;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal;
}

::selection{background:#868686;color: #fff;}

::-moz-selection{background:#868686;color: #fff;}

section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

.clear{
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix{
  zoom:1;
}

.pr {
  position: relative;
  z-index: 0;
}

.pa {
  position: absolute;
}

.tin {
  text-indent: 2em;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.center{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.vt{
  vertical-align: top;
}


.header{
  width: 100%;
}

.menu{
  @extend %fl;
  width: 44px;
  height: 44px;
  @include align;
  cursor: pointer;
  margin-top: 38px;
  border: 2px solid rgba(60,60,60,1);
  @include transition(1,border-color);
  /*&:hover{
    border: 2px solid rgba(60,60,60,1);
  }*/
  i{
    @extend %inline,%icon;
    width: 28px;
    height: 18px;
    background-position: 0 -256px;
    margin-top: 12px;
  }
}

.menu_list{
  @extend %fl,%pr;
  border: 2px solid #3f3f3f;
  height: 44px;
  line-height: 44px;
  position: relative;
  margin: 38px 0 0 10px;
  @include fz(14px);
  @include transition(.6,all);
  ul{
    overflow: hidden;
    padding: 0 12px;
  }
  a{
    color: #6B6B6B;
    &:hover{
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
      color:#666;
      font-weight: bold;
      text-shadow:0 0 12px #fff;
    }
  }
  li{
    @extend %fl;
    padding: 0 12px;
    &.on{
      a{
        font-weight: bold;
        color: #d2d6d5;
        text-shadow: 1px 1px 0 #000;
      }
    }
  }
  .close{
    background: #3f3f3f;
    @extend %pa;
    @include align;
    width: 14px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    right: -16px;
    top: -2px;
    cursor: pointer;
  }
  &.show{
    transform-origin: 50% -10% 0px;
    //    box-shadow: rgba(0, 0, 0, 0.34902) 2px 2px 4px 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
  }
  &.hide{
    transform-origin: 0 0 0;
    //    box-shadow: none;
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1);
    opacity: 0;
  }
}




.header_wrap{
  width: 100%;
  max-width:1200px;
  margin: auto;
  z-index: 9;
}


.content{
  position:relative;
  min-height:100%;
  _height:100%;
}




.sharebar{
  @extend %fr,%pr;
  margin-top: 38px;
  @include align;
  a{
    @extend %fl,%pr;
    width: 44px;
    height: 44px;
    border: 2px solid #3f3f3f;
    &:first-child,&:nth-child(2){
      border-right: none;
    }
    &:hover{
      opacity: .6;
      .sharebar_con{
        display: block;
      }
    }
  }
  i{
    @extend %inline,%icon;
    width: 30px;
    height: 30px;
    margin-top: 7px;
  }
  .s_tel{
    i{
      background-position: 0 -355px;
    }
  }
  .s_wx{
    i{
      background-position: -2px -395px;
    }
  }
  .s_wb{
    i{
      background-position: 0 -431px;
    }
  }
}

.sharebar_con{
  display: none;
  @extend %pa;
  top: 48px;
  left: 0;
  background: #C5C5C5;
  width: 100%;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  @include align(left);
  img{
    width: 100%;
  }
  span{
    display: none;
  }
  b{
    display: block;
    @include fz(17px);
    font-weight: normal;
    line-height: 2;
  }
}





/*分页样式*/
.paging{
  @include align;
  margin-top: 50px;
  @include fz(16px);
  em,a{
    @extend %inline;
    @include border(#c5c4c5);
    color: #666;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  a:hover{
    color: #fff;
    background: #3f3f3f;
  }
  span{
    background: $color;
    color: #fff;
  }
  span{
    @extend %inline;
  }
  em,a,span{
    padding: 6px 20px;
    margin-left: 5px;
  }
}


/*面包屑导航*/
.bread{
  @extend %clearfix,%ffst;
  @include align(right);
  margin: auto;
  max-width: 1200px;
  height: 30px;
  line-height: 30px;
  color: #999;
  i{
    @extend %inline;
    padding: 0 4px;
  }
  a{
    color: #999;
    &:hover{
      color: #333;
    }
  }
}



@-webkit-keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes anim-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
  }
}

@keyframes anim-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
  }
}




