<section>
    <div class="agent">
        <div class="agent_t">
            <img src="__IMG__/pic_24.jpg" alt=""/>
            <span><i>招商热线</i><em>{$site.tel}</em></span>
        </div>
        <div class="agent_b">
            <ul>
                <li>
                    <h4><span>品牌代理</span></h4>
                    <div class="con">
                        <p><em>蓓特蔓</em>本着长远发展的大局，希望和代理商共同发展，选择我们，我们会给您一定的支持，但是同时也请本着对企业和个人负责的态度来面对和持续我们的合作。</p>                    </div>
                </li>
                <li>
                    <h4><span>代理条件</span></h4>
                    <div class="con">
                        <p>热爱皮草皮衣行业，有强烈的<em>事业心和持久</em>的毅力，</p>
                        <p><em>认同蓓特蔓</em>的理念文化</p>
                        <p>具备市场开发和管理能力，并具备一定的<em>市场营销和市场推广</em>经验</p>
                        <p>对蓓特蔓品牌有一定的<em>认知度</em></p>
                        <p>具备一定的<em>经济实力</em>，有一定的备用资金。</p>                    </div>
                </li>
                <li>
                    <h4><span>代理流程</span></h4>
                    <div class="con">
                        <p>1.	通过网站和或电话咨询了解BETY MAGI（蓓特蔓）</p>
                        <p>2.	<em>代理商</em>填写相关资料</p>
                        <p>3.	代理商<em>资格审核</em></p>
                        <p>4.	达成协议，签订合同</p>
                        <p>5.	BETY MAGI（蓓特蔓）根据不同<em>区域协助代理商</em>选款式</p>
                        <p>6.	代理商选定款式和数量，并<em>交付订金</em></p>
                        <p>7.	<em>BETY MAGI（蓓特蔓）</em>完善的后续支持和操作。</p>                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>