<!--主体内容-->
<section>
    <div class="product">
        <img src="__IMG__/pic_23.jpg" alt=""/>
        <div class="side">
            <volist name="cate_list" id="vo">
            <div class="side_t">
                <a href="__WAP__/product/{$vo.cid}">
                    <i></i>
                    <span>{$vo.name}</span>
                    <em>></em>
                </a>
            </div>
            <div class="side_c">
                <ul>
                    <volist name="vo[voo]" id="sub">
                    <li>
                        <a href="__WAP__/product/{$vo.cid}">
                            <span>{$sub.name}</span>
                            <em>></em>
                        </a>
                    </li>
                    </volist>
                </ul>
            </div>
            </volist>
        </div>
    </div>
</section>