@import "common.scss";

/*首页*/
.swiper-slide:nth-child(1){
  background: #292929;
}
.swiper-slide:nth-child(2){
  background: #c9cdcc;
}
.swiper-slide:nth-child(3){
  background: #ebebeb;
}
.swiper-slide:nth-child(4){
  background: #f7f7f9;
}
.swiper-slide:nth-child(5),.swiper-slide:nth-child(6),.swiper-slide:nth-child(7){
  background: #e6e6e6;
}

.slide-1{
  width: 74.4%;
  margin: 2em auto 0;
}

.slide-2{
  width: 60%;
  margin: .5em auto 0;
}

.slide-3{
  margin: 1em 0;
  padding-top: .5em;
  color: #fff;
  display: inline-block;
  @include bor(top,#343435);
  em{
    @include fz(.7em);
  }
}

.slide-4{
  width: 80%;
  margin: auto;
}

.slide-5{
  width: 48%;
  margin: 2em auto 0;
}

.slide-6{
  width: 40%;
  margin: .5em auto 0;
}

.slide-7{
  margin-top: .5em;
}

.slide-8{
  width: 90%;
  margin: auto;
}

.slide-9{
  width: 40%;
  margin: 2em auto 0;
}

.slide-10{
  width: 90%;
  margin: 2em auto 0;
}

.slide-11{
  margin-top: 1em;
}

.slide-12{
  margin: .5em auto 0;
  width: 76.8%;
}

.slide-13{
  width: 76.8%;
  margin: auto;
  @include fz(.7em);
  @include align(left);
  line-height: 1.4;
  li{
    margin-top: .5em;
  }
}

.slide-14{
  width: 50%;
  margin: 1em auto 0;
}

.slide-15{
  width: 35%;
  margin: .5em auto 0;
}

.slide-16{
  margin-top: .5em;
  padding: 0 2%;
}

.slide-17{
  width: 40%;
  margin: 1em auto;
}



.darkBtn{
  width: 68%;
  margin: auto;
  background: #fff;
  @extend %pa;
  bottom: 1.5em;
  left: 16%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  a{
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    padding: .5em 0;
    &:after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1em;
      height: 1em;
      background: url(../images/darkBtn2.png) no-repeat;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
      margin-left: 1em;
    }
  }
}

.darkBtn-black{
  background: #000;
  a {
    color: #fff;
    &:after{
      background: url(../images/darkBtn.png) no-repeat;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
    }
  }
}

.scrollTips{
  width: 2em;
  height: 2em;
  background: url(../images/tips.png) no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: fixed;
  bottom: 1em;
  left: 50%;
  margin-left: -1em;
  z-index: 9;
  -webkit-animation: scrollTips 1.2s;
  animation: scrollTips 1.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes scrollTips {
  from {
    bottom: 2em;
  }
  to {
    bottom: .5em;
  }
}

@keyframes scrollTips {
  from {
    bottom: 2em;
  }
  to {
    bottom: .5em;
  }
}
