<!--主体内容-->
<section>
    <div class="news">
        <ul class="clearfix">
            <volist name="list" id="vo">
                <li>
                    <a href="{:U('news_r/'.$vo['id'])}">
                        <div class="box"><img src="{:get_default_img($vo['image_id'])}" /></div>
                        <div class="tit">{$vo.title}</div>
                        <div class="txt">{$vo.summary|msubstr=0,30}</div>
                        <div class="time">{:date('Y/m/d',$vo['published'])}</div>
                    </a>
                </li>
            </volist>
        </ul>
    </div>
</section>