<!--主体内容-->
<section>
    <div class="banner">
        <volist name="ad_banner" id="vo">
            <a href="{$vo.ad_link}"><img src="__UPLOAD__/picture/{$vo.ad_img}" alt="{$vo.ad_name}"/></a>
        </volist>
    </div>
    <div class="main">
        <div class="main_t">
            <span>portfolios</span>
            <em>已投项目</em>
            <div class="more"><a href="{:U('Product/index')}">查看更多</a></div>
        </div>
        <div class="pro_list">
            <ul>
            <volist name="pro_list" id="vo">
                <li>
                    <a href="{$vo.url}" target="_blank"><img src="{:get_default_img($vo['image_id'])}" alt="{$vo.title}"/></a>
                </li>
            </volist>
            </ul>
        </div>
    </div>
</section>