<!--content开始-->
<div id="content">
    <div class="news center">
        <div class="news_l">
            <div class="news_lc">
                <div class="tit">{$info.title}</div>
                <div class="date">TIME: {$info['published']|date='Y/m/d H:i:s',###}&nbsp;&nbsp;&nbsp;&nbsp;CLICK: {$info['click']}</div>
                <div class="con">
                    {$info['content']}
                </div>
                <div class="share">分享到：<div class="bshare-custom" style="display:inline-block;*display:inline;zoom:1;"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=7afd94bb-a7e8-4d65-9936-979b687f14eb&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script></div>
                <div class="news_b clearfix">
                    <div class="news_np">
                        <if condition="$prev neq null">
                        <a href="{:$prev == null ? 'javascript:':U('News/read',array('id'=>$prev[id]))}" title="{$prev.title}">
                            下一篇： {$prev[title]}
                        </a>
                        <else />
                        <span>下一篇：没有了</span>
                        </if>
                    </div>
                    <div class="backIndex">
                        <a href="{:C('WEB_ROOT')}" title="返回首页">
                            <i></i>
                            <span>返回首页</span>
                        </a>
                    </div>
                    <div class="backList">
                        <a href="{:U('/news')}" title="更多热门新闻">
                            <i></i>
                            <span>更多热门新闻</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="news_r">
            <ul>
                <news  limit="5" order="click DESC" >
                <li>
                    <div class="box"><a href="{:U('news_r/'.$new['id'])}" title="{$new['title']}"><img src="{:get_default_img($new['image_id'])}" alt="{$new['title']}"/></a></div>
                    <div class="tit"><a href="{:U('news_r/'.$new['id'])}" title="{$new['title']}">{$new['title']}</a></div>
                    <div class="txt"><a href="{:U('news_r/'.$new['id'])}" title="{$new['summary']}">{$new['summary']}</a></div>
                    <div class="time">2015/07/31</div>
                </li>
                </news>
            </ul>
        </div>
    </div>
</div>
<!--content结束-->

