<!--主体内容-->
<section>
    <div class="main">
        <div class="main_t">
            <span>TEAM</span>
            <em>投资团队</em>
        </div>
        <volist name="team" id="vo">
        <div class="team">
            <div class="team_t">
                {$vo.title}
            </div>
            <div class="team_c"><img src="{:get_default_img($vo['image_id'])}" alt=""/></div>
            <div class="team_b">
                <h3>{$vo.etit}</h3>
                <div>
                    {$vo.etxt}
                </div>

                <h3>{$vo.tit}</h3>
                <div>
                    {$vo.txt}
                </div>
            </div>
        </div>
        </volist>
    </div>
</section>