<!--content开始-->
<div id="content">
    <div class="main_t">
        <img src="__UPLOAD__/picture/{$ad_info2[0].ad_img}" alt="{$ad_info2[0].ad_name}"/>
    </div>
    <div class="agent center clearfix">
        <div class="agent_l">
            <img src="__IMG__/pic_39.jpg" alt="品牌代理"/>
            <i></i>
            <p><small>招商热线</small><span>{$site.tel}</span></p>
        </div>
        <div class="agent_r">
            <ul>
                <li>
                    <h4><span>品牌代理</span></h4>
                    <div class="con">
                        {$ppdl}
                    </div>
                </li>
                <li>
                    <h4><span>代理条件</span></h4>
                    <div class="con">
                        {$dltj}
                    </div>
                </li>
                <li>
                    <h4><span>代理流程</span></h4>
                    <div class="con">
                        {$dllc}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--content结束-->