<link rel="stylesheet" href="__CSS__/swiper.min.css"/>
<link rel="stylesheet" href="__CSS__/idangerous.swiper.scrollbar.css"/>
<div class="content">
    <div class="product center">
        <div class="product_t clearfix">
            <div class="product_tl">
                <em>PRODUCT SERIES</em>
                <span>产品系列</span>
            </div>
            <div class="product_tr">
                摆脱束缚，追求自由。
            </div>
        </div>
        <div class="product_c clearfix">
            <!--侧栏-->
            <div class="side">
                <div class="slide">
                    <volist name="cate_list" id="vo">
                        <div class="slide_t"><a href="javascript:" title="{$vo.name}" data-cid="{$vo.id}">{$vo.name}</a></div>
                        <div class="slide_c">
                            <ul>
                                <volist name="vo[voo]" id="sub">
                                    <li><a href="javascript:" title="{$sub.name}" data-cid="{$vo.id}"><i></i>{$sub.name}</a></li>
                                </volist>
                            </ul>
                        </div>
                    </volist>
                </div>
                <div class="side_c">
                    高级定制，<br/>“奢华需要精致的细节表现”
                    <a href="tencent://message/?uin={$site.qq}" title="我要定制">我要定制</a>
                </div>
                <div class="side_b">
                    <i></i><em>联系热线</em><span>{$site.tel}</span>
                </div>
            </div>

            <!--产品显示列表-->
            <div class="pwrap">
                <div class="pshow">
                    <div class="pshow_bt">
                        <div class="bd">
                            <volist name="season" id="vo" key="k">
                            <a href="javascript:" <if condition="$k eq 1"> class="on"</if> data-season="{$vo.name}">{$vo.name}</a>
                            </volist>
                        </div>
                        <div class="hd">
                            <a href="javascript:"><</a>
                            <a href="javascript:">></a>
                        </div>
                    </div>
                    <div class="plist">
                        <ul class="clearfix">
                            <volist name="list" id="vo">
                            <li><a href="{:U('product_r/'.$vo['id'])}" title="{$vo.title}"><img src="{:get_default_img($vo['image_id'])}" alt="{$vo.title}"/><em></em><span>{$vo.title}</span></a></li>
                            </volist>
                        </ul>
                        {$page}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__JS__/swiper.min.js"></script>
<script src="__JS__/idangerous.swiper.scrollbar.js"></script>
<script>
</script>