<div class="content">
    <div class="btm_t clearfix">
        <div class="btm_t_l"><img src="__IMG__/pic_13.jpg" alt=""/></div>
        <div class="btm_t_c"><img src="__IMG__/pic_12.png" alt=""/></div>
        <div class="btm_t_r">
            <div class="btm_t_rt">
                <em>BRAND INTRODUCTION</em>
                <span>品牌简介</span>
            </div>
            <div class="btm_t_rb">
                <p>蓓特蔓以皮草皮衣设计，生产，销售为一体，主要生产以羊毛皮，（獭）兔毛皮，貉子，狐狸，水貂等皮草服装及服饰品，产品远销法国，西班牙，美国，丹麦，日本等国家。同时，与国内知名品牌合作开发皮草系列产品。</p>
                <p>每一件皮草都根据自身特性精心设计，历经选皮，设计，确定用料，制板，制作布样，试样，修板，算料，配色，钉皮，裁皮，车缝，再钉皮等 多道工序。公司也致力于个人皮草外套订制业务，为消费者提供个性化服务。公司力求将更好的品质，更好的服务，更低的价格带给广大消费者。</p>
            </div>
        </div>
    </div>

    <div class="btm_c clearfix">
        <div class="center">
            <div class="btm_c_l">
                <div class="btm_c_lt">
                    <em>BRAND CULTURE</em>
                    <span>品牌文化</span>
                </div>
                <div class="btm_c_lb">
                    <ul>
                        <li>
                            <i></i>
                            <span>企业愿景</span>
                            <em>成为令人喜爱的时尚企业</em>
                        </li>
                        <li>
                            <i></i>
                            <span>服务宗旨</span>
                            <em>以服务为基础，满足不同客户群体的需求</em>
                        </li>
                        <li>
                            <i></i>
                            <span>企业精神</span>
                            <em>诚信为本，品质优先，不断创新，勇于实践</em>
                        </li>
                        <li>
                            <i></i>
                            <span>企业使命</span>
                            <em>梦想的传递，个性的彰显，用自然，时尚，充满个性的皮草来演绎突显不同的个性气质。</em>
                        </li>
                        <li>
                            <i></i>
                            <span>企业定位</span>
                            <em>25岁以上成熟自信，独立，了解时尚，注重品味，不盲目跟从的时尚人士，白领阶层，全方位路线，多元化款式。</em>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="btm_c_r"><img src="__IMG__/pic_14.png" alt=""/></div>
        </div>
    </div>

    <div class="btm_b">
        <img src="__IMG__/pic_15.png" alt=""/>
        <div class="btm_b_w">
            <div class="btm_b_p1"><img src="__IMG__/logo.png" alt="蓓特蔓"/></div>
            <div class="btm_b_p2">BRAND LINE</div>
            <div class="btm_b_p3"><i></i><span>品牌路线</span></div>
            <div class="btm_b_p4">摆脱束膊，追求自由。</div>
            <div class="btm_b_p5">设计灵感：自然轻松而又帅气。</div>
            <div class="btm_b_p6">Bety Magi（蓓特蔓）表现出来是一种个性而摩登的生活态度</div>
            <div class="btm_b_p7">BETY MAGI MANIFESTED IS A PERSONALIZED AND MODERN ATTITUDE TO LIFE</div>
            <div class="btm_b_p8">2015年8月全面推出Bety Magi蓓特蔓15秋冬系列皮草皮衣新品。</div>
            <div class="btm_b_p9">
                皮草系列：以羊毛皮，（獭）兔毛皮，貉子，狐狸，水貂为主的皮草系列女装和男装。
                皮衣系列：以羊皮光面皮为主，帅气的朋克风机车服不再是摇滚男孩女孩的专利，走向街头的任何人，随时可以感受机车服带给你的自由和时尚，低调内敛的你，也可以轻松驾驭。
            </div>
        </div>
    </div>
</div>