<div class="content">
    <div class="btm_t clearfix">
        <div class="btm_t_l"><img src="__IMG__/pic_13.jpg" alt=""/></div>
        <div class="btm_t_c"><img src="__IMG__/pic_12.png" alt=""/></div>
        <div class="btm_t_r">
            <div class="btm_t_rt">
                <em>BRAND INTRODUCTION</em>
                <span>品牌简介</span>
            </div>
            <div class="btm_t_rb">
                {$ppjj}
            </div>
        </div>
    </div>

    <div class="btm_c clearfix">
        <div class="center">
            <div class="btm_c_l">
                <div class="btm_c_lt">
                    <em>BRAND CULTURE</em>
                    <span>品牌文化</span>
                </div>
                <div class="btm_c_lb">
                    {$ppwh}
                </div>
            </div>
            <div class="btm_c_r"><img src="__IMG__/pic_14.png" alt=""/></div>
        </div>
    </div>

    <div class="btm_b">
        <img src="__IMG__/pic_15.png" alt=""/>
        <div class="btm_b_w">
            <div class="btm_b_p1">
                <img src="__IMG__/logo.png" alt="蓓特蔓" />
            </div>
            {$pplx}
        </div>
    </div>
</div>