<!--主体内容-->
<section>
    <div class="main">
        <div class="main_t">
            <span>contact us</span>
            <em>联系我们</em>
        </div>

        <div class="connect">
            <h3>投资项目商业计划以及建议</h3>
            <div>请发送邮件至：<br/>{$site.service}</div>
            <div>公司地址：<br/>{$site.address}</div>
            <div class="tel">
                电话热线：<i>{$site.tel}</i>
            </div>
            <div class="map">
                <i class="iconfont">&#xe605;</i>
                <a href="http://map.baidu.com/mobile/webapp/place/detail/qt=ninf&wd=远瞻股权投资管理（上海）有限公司&c=289&searchFlag=bigBox&version=5&exptype=dep&uid=41aa37034283a501c51b7536&industry=house&qid=8245378627696818355/showall=1&detail_from=list&vt=map" target="_blank">查看地图导航</a>
            </div>
        </div>
    </div>
</section>