    <!--底部-->
    <footer>
        <ul>
            <li>
                <a href="__WAP__/"><i class="iconfont">&#xe600;</i><span>首页</span></a>
            </li>
            <li>
                <a href="__WAP__/product"><i class="iconfont">&#xe602;</i><span>产品</span></a>
            </li>
            <li>
                <a href="__WAP__/haute"><i class="iconfont">&#xe603;</i><span>定制</span></a>
            </li>
            <li>
                <a href="__WAP__/agent"><i class="iconfont">&#xe605;</i><span>代理</span></a>
            </li>
        </ul>
    </footer>
    <script type="text/javascript" src="__PUBLIC__/Min/?f=__JS__/zepto.min.js|__JS__/touch.js|__JS__/index.js"></script>
</body>
</html>