<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="fcdcyy@sina.cn">
    <link rel="dns-prefetch" href="{:C('WEB_ROOT')}">
    <link rel="shortcut icon" href="__ROOT__/favicon.ico">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-title" content="亚恒服饰手机端">
    <title>亚恒服饰手机端</title>
    <meta name="keywords" content="{$info['keywords'] ? $info['keywords'] : $site.keyword}">
    <meta name="description" content="{$info['description'] ? $info['description'] : $site.description}">
    <link type="text/css" href="__PUBLIC__/Min/?f=__CSS__/common.css|__CSS__/combo.css" rel="stylesheet" />
</head>
<body>
    <!--头部-->
    <header>
        <img src="__IMG__/logo.png" alt="" class="logo"/>
        <em>{$webtitle}</em>
        <div class="nav_btn">
            <div id="menu-toggle">
                <div id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <div class="nav">
        <div class="nav-warp">
            <h4>导航</h4>
            <ul>
                <volist name="nav" id="vo">
                    <li><a href="__WAP__/{$vo['action']}">{$vo.nav_name}</a></li>
                </volist>
            </ul>
            <div class="tel">联系热线：{$site.tel}</div>
        </div>
    </div>