<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="fcdcyy@sina.cn">
    <link rel="dns-prefetch" href="{:C('WEB_ROOT')}">
    <link rel="shortcut icon" href="__ROOT__/favicon.ico">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-title" content="远瞻投权手机端">
    <title>远瞻投权手机端</title>
    <meta name="keywords" content="{$site.keyword},{$info['keywords']}">
    <meta name="description" content="{$site.description},{$info['description']}">
    <link type="text/css" href="__PUBLIC__/Min/?f=__CSS__/common.css|__CSS__/index.css" rel="stylesheet" />
    <link href='http://www.youziku.com/webfont/NameCSS/29523' rel='stylesheet' type='text/css'/>
</head>
<body <if condition="CONTROLLER_NAME eq Index">class="index"</if>>
    <!--头部-->
    <header>
        <div class="nav_btn"><i class="iconfont">&#xe602;</i></div>
        <div class="logo"><a href="{:C('WEB_ROOT').'wap'}"><img src="__IMG__/logo.png" alt=""/></a></div>
    </header>
    <div class="nav_list nav_on">
        <ul>
            <volist name="nav" id="vo">
            <li>
                <a href="<if condition='$vo.action eq null'>{$vo.link}<else />{:U($vo['action'])}</if>">
                    <span>{$vo.nav_rename}</span>
                    <em>{$vo.nav_name}</em>
                </a>
            </li>
            </volist>
        </ul>
    </div>